* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.id-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 500px;
  width: 400px;
  position: relative;
  text-align: center;
}
h1 {
  margin: 20px auto 0;
  color: #333; 
  left: 60px;
  position: absolute;
  z-index: 7;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif; 
}
.header {
  top: -600px;
  left: 20px;
  right: 50px;
  position: absolute;
  height: 800px;
  width: 800px;
  transform: rotate(41deg);
  background-color: #4CAF50;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 60px;
}
.photo-container {
  width: 150px;
  height: 150px;
  margin: 90px auto 0;
  border-radius: 50%;
  border: 6px solid white;
  overflow: hidden;
  position: relative;
}
.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details {
  padding: 30px;
  text-align: center;
  text-align: start;
  left: 70px;
}
.name {
  position: absolute;
  left: 50 px;
  font-size: 24px;
  font-weight: 700;
  margin: 12px 0;
  bottom: 180px;
  color: #333;
  font-family: 'Times New Roman', sans-serif; 
}
.info {
  font-size: 18px;
  left: 30px;
  position: absolute;
  bottom: 90px;
  line-height: 24px;
  color: #666;
}
.footer {
  bottom: -600px;
  right: 20px;
  left: -700px;
  position: absolute;
  height: 800px;
  width: 800px;
  transform: rotate(41deg);
  background-color: #4CAF50;
  color: white;
  padding: 30px;
  text-align: center;
  border-radius: 60px;
}
.logo img {
  height: 60px;
  width: 80px;
  bottom: 15px;
  right: 25px;
  position: absolute;
}
